.section {
  padding: 90px 0;
  @media only screen and (max-width: 1280px) {
    padding: 60px 10px;
  }
  @media only screen and (max-width: 768px) {
    padding: 40px 5px;
  }
  &--filling {
    margin: 0 auto;
    max-width: 1240px;
  }
}
