@font-face {
  font-family: "Rubik-Regular";
  src: url("../../../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-SemiBold";
  src: url("../../../fonts/Rubik/Rubik-SemiBold.ttf") format("truetype");
}
.theme-0 {
  .typography {
    &.type--smallText {
      font-size: 1.2rem;
    }
    &.type--text {
      font-size: 1.5rem;
    }
    &.type--title {
      font-size: 1.8rem;
    }
    &.type--extraTitle {
      font-size: 3rem;
      display: inline;
    }
    &.type--extraTitleB {
      font-size: 4.5rem;
      display: inline;
    }
    &.display--linear {
      display: inline;
    }
    &.display--block {
      display: block;
    }
    &.weight--regular {
      font-family: "Rubik-Regular";
    }
    &.weight--bold {
      font-family: "Rubik-SemiBold";
    }
    &.color--active {
      color: $active;
    }
    &.color--inactive {
      color: $inactive;
    }
  }
}
