$senti-extraFilling: #0e0e0e;
$senti-filling: #1f1f1f;
$senti-fillingSec: #131313;
$senti-active: #f56b4e;
$senti-inactive: #ffffff;

$infa-filling: rgb(10, 25, 47);
$infa-fillingSec: rgba(67, 19, 62, 0.9);
$infa-active: #64ffda;
$infa-inactive: #e7e7e7;
