$infa-extraFilling: #0e0e0e;
$infa-filling: #1f1f1f;
$infa-fillingSec: #131313;
$infa-active: #f56b4e;
$infa-inactive: #ffffff;

$senti-filling: rgb(10, 25, 47);
$senti-fillingTransparent: rgba(10, 25, 47, 0.7);
$senti-fillingSec: rgba(67, 19, 62, 0.9);
$senti-active: #64ffda;
$senti-activeSec: #194a3e;
$senti-inactive: #e7e7e7;
